## Data-driven Healthcare Analysis

##### This project is aim to analyze the healthcare dataset and provide insights to the stakeholders. 
##### Our team consists of 4 members: 
- Pun Solita
- Vicheanon Norakpichit
- Sim Thydatepin
- Som Deborah.

In [1]:
import pandas as pd
#load data from csv
df = pd.read_csv('healthcare_dataset.csv')
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [2]:
#check for missing values
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [3]:
# count all rows
df.shape[0]

55500

In [4]:
# check duplicates
df.duplicated().sum()

534

In [5]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [6]:
# check for duplicates
df.duplicated().sum()

0

In [7]:
# save cleaned data
df.to_csv('cleaned_healthcare_dataset.csv', index=False)

In [8]:
# print columns and it's data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54966 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                54966 non-null  object
 1   Age                 54966 non-null  int64
 2   Gender              54966 non-null  object
 3   Blood Type          54966 non-null  object
 4   Medical Condition   54966 non-null  object
 5   Date of Admission   54966 non-null  object
 6   Doctor              54966 non-null  object
 7   Hospital            54966 non-null  object
 8   Insurance Provider  54966 non-null  object
 9   Billing Amount      54966 non-null  float64
 10  Room Number         54966 non-null  int64
 11  Admission Type      54966 non-null  object
 12  Discharge Date      54966 non-null  object
 13  Medication          54966 non-null  object
 14  Test Results        54966 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.7+ MB

## Create table in PostgreSQL

In [9]:
# import psycopg2
# 
# # Database connection configuration
# db_config = {
#     'dbname': 'postgres',
#     'user': 'postgres',
#     'password': '1234',
#     'host': 'localhost',
#     'port': 5432
# }
# 
# # SQL query to create table
# create_table_query = """
# CREATE TABLE healthcare_data (
#     Name TEXT NOT NULL,
#     Age INTEGER NOT NULL,
#     Gender TEXT NOT NULL,
#     Blood_Type TEXT NOT NULL,
#     Medical_Condition TEXT NOT NULL,
#     Date_of_Admission DATE NOT NULL,
#     Doctor TEXT NOT NULL,
#     Hospital TEXT NOT NULL,
#     Insurance_Provider TEXT NOT NULL,
#     Billing_Amount DOUBLE PRECISION NOT NULL,
#     Room_Number INTEGER NOT NULL,
#     Admission_Type TEXT NOT NULL,
#     Discharge_Date DATE NOT NULL,
#     Medication TEXT NOT NULL,
#     Test_Results TEXT NOT NULL
# );
# """
# 
# try:
#     # Establishing the connection
#     connection = psycopg2.connect(**db_config)
#     cursor = connection.cursor()
#     
#     # Creating the table
#     cursor.execute(create_table_query)
#     connection.commit()
#     print("Table 'healthcare_data' created successfully!")
#     
# except (Exception, psycopg2.DatabaseError) as error:
#     print(f"Error: {error}")
# finally:
#     if cursor:
#         cursor.close()
#     if connection:
#         connection.close()
#         print("Database connection closed.")

In [12]:
# read new data
df_hive = pd.read_csv('healthcare_dataset_hadoop.csv')

In [13]:
df_hive.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons And Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook Plc,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers And Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,Adrienne Bell,43,Female,Ab+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [14]:
# check for missing values
df_hive.isnull().sum()

# check for null values
df_hive.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [17]:
# !pip install faker

Requirement already satisfied: faker in d:\y3 t8\ml\labs\support vector machine\.venv\lib\site-packages (33.0.0)
Requirement already satisfied: python-dateutil>=2.4 in d:\y3 t8\ml\labs\support vector machine\.venv\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in d:\y3 t8\ml\labs\support vector machine\.venv\lib\site-packages (from faker) (4.12.1)
Requirement already satisfied: six>=1.5 in d:\y3 t8\ml\labs\support vector machine\.venv\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
import pandas as pd
import random
from faker import Faker

# Initialize Faker
fake = Faker()

# Set the number of rows
num_rows = 100000

# Define possible values for specific columns
blood_types = ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']
medical_conditions = ['Diabetes', 'Hypertension', 'Asthma', 'None', 'Cancer', 'Heart Disease']
admission_types = ['Emergency', 'Routine Checkup', 'Surgery', 'Maternity']
medications = ['Paracetamol', 'Ibuprofen', 'Amoxicillin', 'Insulin', 'Metformin', 'None']
test_results = ['Positive', 'Negative', 'Inconclusive']

# Generate synthetic data
data = {
    'Name': [fake.name() for _ in range(num_rows)],
    'Age': [random.randint(1, 100) for _ in range(num_rows)],
    'Gender': [random.choice(['Male', 'Female', 'Other']) for _ in range(num_rows)],
    'Blood Type': [random.choice(blood_types) for _ in range(num_rows)],
    'Medical Condition': [random.choice(medical_conditions) for _ in range(num_rows)],
    'Date of Admission': [fake.date_between(start_date='-2y', end_date='today').isoformat() for _ in range(num_rows)],
    'Doctor': [fake.name() for _ in range(num_rows)],
    'Hospital': [fake.company() for _ in range(num_rows)],
    'Insurance Provider': [fake.company() for _ in range(num_rows)],
    'Billing Amount': [round(random.uniform(100, 10000), 2) for _ in range(num_rows)],
    'Room Number': [random.randint(100, 999) for _ in range(num_rows)],
    'Admission Type': [random.choice(admission_types) for _ in range(num_rows)],
    'Discharge Date': [fake.date_between(start_date='-2y', end_date='today').isoformat() for _ in range(num_rows)],
    'Medication': [random.choice(medications) for _ in range(num_rows)],
    'Test Results': [random.choice(test_results) for _ in range(num_rows)]
}

# Create DataFrame
df = pd.DataFrame(data)

# Export to CSV (Optional)
df.to_csv('medical_records.csv', index=False)

# Display first few rows
print(df.head())

              Name  Age  Gender Blood Type Medical Condition  \
0    George Fuller   87  Female        AB-            Asthma
1   Jennifer Smith    2   Other         B-          Diabetes
2       Luis Smith   77   Other         A-     Heart Disease
3  Nicholas Mathis   99    Male         B+      Hypertension
4      Travis Mays   31    Male         A-            Cancer

  Date of Admission               Doctor         Hospital  \
0        2023-07-19            Gary Ford  Richards-Orozco
1        2023-04-01  Alexandra Schneider  Chandler-Jordan
2        2024-01-13        Lisa Williams    Salazar Group
3        2024-02-14    Victoria Williams   Wheeler-Valdez
4        2023-02-11        Samantha Ryan        Adams PLC

          Insurance Provider  Billing Amount  Room Number   Admission Type  \
0               Hayes-Barker         6037.53          687        Emergency
1   Price, Rojas and Johnson         5458.48          377  Routine Checkup
2  Orr, Watson and Hernandez         4843.22          603          Surgery
3              Brown-Burnett         2383.67          133  Routine Checkup
4              Potter-Brandt         7501.86          615        Maternity

  Discharge Date   Medication  Test Results
0     2023-04-05  Amoxicillin  Inconclusive
1     2024-11-12      Insulin      Negative
2     2024-11-02         None  Inconclusive
3     2024-08-02    Metformin      Positive
4     2024-10-04      Insulin  Inconclusive

In [20]:
# check rows and columns
df.shape

(100000, 15)

In [21]:
# check for duplicates
df.duplicated().sum()

0